body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.paging-nav {
	  /*text-align: right;*/
	  text-align: left;
	  padding-top: 2px;
	}
.paging-nav a {
	  margin: auto 1px;
	  text-decoration: none;
	  display: inline-block;
	  padding: 1px 7px;
	  background: #91b9e6;
	  color: white;
	  border-radius: 3px;
	}
.paging-nav .selected-page {
	  background: #187ed5;
	  font-weight: bold;
	}
#table-demo {
	padding: 20px;
	border: red
	margin: 10px;
}
tr {
width: 50px;
border: blue;
}
td {
	border: black;
}
p {
	font-weight: bold;
}