extends layout
head content
        title="Cloud Today"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
        script(src='paging.js')
        script.
           $(document).ready(function(){
                      $('#demo').paging({limit:15});
                                  });
block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1 #{title}

  p List of files that don't have a user or an owner.
  ul
    each x in info.list
      li #{x}